*{
    padding: 0;
    margin: 0;
}


.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    padding-right: 15px;
    align-items: center;
}
li{
    display: inline;
    margin: 20px;
    font-size: 20px;
    font-family:monospace;
    color: #007BFF;
}
.all {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #96c9ff8b;
    overflow: hidden;
}
.about{
    background-color: #0056b3;
    padding: 7px;
    border-radius: 7px;
}
  .about a{
    color: white;
}
.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

textarea {
    width: 80%;
    height: 150px;
    margin: 10px 0;
    resize: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    margin: 10px 0px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
